---
layout: default
---

<article class="post">
  <span class="post-title">{{ page.title }}</span>

  <!-- publication date and update date are resp. left and right justified on the same line -->
  <p class="date-and-update">
    <span><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></span>
    <span>
      {% if page.update-date %}
          Last updated: {{ page.update-date | date_to_string }}
      {% endif %}
    </span>
  </p>

  <small>{% include read_time.html post=page %}</small>
  <hr>

  {{ content }}
</article>

<nav class="pagination">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="previous">Previous post</a>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="next">Next post</a>
    {% endif %}
</nav>

